body {
    font-family: Arial;
    margin: 0;
    background-color: #f4f4f4;
}

/* Header */
header {
    background-color: #0077cc;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Search box */
.search-box {
    background: white;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

.search-box input {
    display: block;
    width: 95%;
    padding: 10px;
    margin: 10px 0;
}

.search-box button {
    background-color: #0077cc;
    color: white;
    padding: 10px;
    border: none;
    width: 100%;
    cursor: pointer;
}

/* Flights */
.flights {
    margin: 20px;
}

.flight-card {
    background: white;
    padding: 15px;
    margin: 10px 0;
    border-radius: 10px;
}

.flight-card button {
    background: green;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

/* Footer */
footer {
    text-align: center;
    padding: 10px;
    background: #222;
    color: white;
}
